!source/**/_extensions/**
*.[rR][dD]ata
*.[rR]ds
*.dbf
*.doc*
*.eps
*.gddoc
*.gdsheet
*.gpkg
*.html
*.mdb
*.pdf
*.shp*
*.shx
*.sty
*.tex
*.xls*
*_cache
*_files
*_freeze
*_libs
.DS_Store
.RData
.Renviron
.Rhistory
.Rproj.user
.Ruserdata
.httr-oauth
.quarto
Meta
doc
docs
inst/doc
libs
output
renv/library
