on:
  push:
    branches-ignore:
      - master
      - ghpages

name: "check package"

jobs:
  check-package:
    runs-on: ubuntu-latest
    name: "check package"
    steps:
      - uses: inbo/actions/check_pkg@master
        with:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
          ORCID_TOKEN: ${{ secrets.ORCID_TOKEN }}
